<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"  >
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>

	<title><ui:insert name="title">CALTU</ui:insert></title>
	<link rel="stylesheet" type="text/css"
		href="#{request.contextPath}/css/masterPage.css" />
	<link rel="stylesheet" type="text/css"
		href="#{request.contextPath}/css/steps.css" />
	<link rel="stylesheet" type="text/css"
		href="#{request.contextPath}/css/weekends.css" />

	<script type="text/javascript" src="../../JavaScript/schedule.js" />
	<script type="text/javascript" src="../../JavaScript/changeColor.js" />
	<script type="text/javascript" src="../../JavaScript/onlyNumbers.js" />

</h:head>

<h:body>
	<div id="conteiner">
		<div id="top" class="ui-widget-header ui-corner-all">
			<ui:insert name="top">
				CALZADO
			</ui:insert>
		</div>
		<div id="menu">
			<h:form>
				<p:growl id="messages" />

				<p:menubar>
					<p:submenu label="Seguridad" icon="ui-icon-document">
						<p:menuitem value="Usuarios"
							url="#{appBean.basePath}usuario/indexUser.jsf" />
						<p:separator />
						<p:menuitem value="Salir" actionListener="#{loginBean.logout()}"
							oncomplete="handleLoginRequest(xhr, status, args)" />
					</p:submenu>

					<p:submenu label="Parametrización" icon="ui-icon-pencil">
						<p:menuitem value="Modelos"
							url="#{appBean.calzadoPath()}modelos/modelos.jsf"
							icon="ui-icon-arrowreturnthick-1-e" />
						<p:menuitem value="Troqueles"
							url="#{appBean.calzadoPath()}troqueles/troqueles.jsf"
							icon="ui-icon-arrowreturnthick-1-e" />
						<p:menuitem value="Tallas"
							url="#{appBean.calzadoPath()}tallas/tallas.jsf"
							icon="ui-icon-arrowreturnthick-1-e" />
						<p:menuitem value="Disp. Troqueles"
							url="#{appBean.calzadoPath()}ttallas/ttallas.jsf"
							icon="ui-icon-arrowreturnthick-1-e" />
						<p:menuitem value="Procesos"
							url="#{appBean.calzadoPath()}proceso/proceso.jsf"
							icon="ui-icon-arrowreturnthick-1-e" />
						<p:menuitem value="Configuración procesos"
							url="#{appBean.calzadoPath()}tipprocesos/tipprocesos.jsf"
							icon="ui-icon-arrowreturnthick-1-e" />
						<p:menuitem value="Turnos"
							url="#{appBean.calzadoPath()}turnos/turnos.jsf"
							icon="ui-icon-arrowreturnthick-1-e" />
						<p:menuitem value="Ordenes de producción"
							url="#{appBean.calzadoPath()}ordenesProd/ordenesproduc.jsf"
							icon="ui-icon-arrowreturnthick-1-e" />
						<p:menuitem value="Parametrización"
							url="#{appBean.calzadoPath()}parametrizacion/parametrizacion.jsf"
							icon="ui-icon-arrowreturnthick-1-e" />
						<p:menuitem value="Program Días"
							url="#{appBean.calzadoPath()}programacionTurnos/programturnos.jsf"
							icon="ui-icon-arrowreturnthick-1-e" />
						<p:menuitem value="Lugares"
							url="#{appBean.calzadoPath()}lugares/lugares.jsf"
							icon="ui-icon-arrowreturnthick-1-e" />
						<p:menuitem value="Líneas de producción"
							url="#{appBean.calzadoPath()}lineasProd/lineasprod.jsf"
							icon="ui-icon-arrowreturnthick-1-e" />
						<p:menuitem value="Clientes"
							url="#{appBean.calzadoPath()}clientes/clientes.jsf"
							icon="ui-icon-arrowreturnthick-1-e" />
						<p:menuitem value="Conf. Tiempos"
							url="#{appBean.calzadoPath()}proceso/confiProceso.jsf"
							icon="ui-icon-arrowreturnthick-1-e" />
						<p:menuitem value="Costos Indirectos"
							url="#{appBean.costosPath()}costosindirec.jsf"
							icon="ui-icon-arrowreturnthick-1-e" />

						<p:menuitem value="Insertar Ordenes"
							url="#{appBean.calzadoPath()}ordenesProd/insertOrder.jsf"
							icon="ui-icon-arrowreturnthick-1-e" />
					</p:submenu>

					<p:submenu label="Ayuda" icon="ui-icon-help">
						<p:menuitem value="Temas"
							url="#{appBean.themePath()}changeTheme.xhtml" />
						<p:submenu label="Search" icon="ui-icon-search">
							<p:submenu label="Text">
								<p:menuitem value="Workspace" url="#" />
							</p:submenu>
							<p:menuitem value="File"
								url="#{appBean.basePath}messages/failed.xhtml" />
						</p:submenu>
					</p:submenu>

					<p:submenu label="Andon" icon="ui-icon-gear">
						<p:menuitem value="Alertas"
							url="#{appBean.andonPath()}alertas.jsf" icon="fa fa-bell-o" />
						<p:menuitem value="Dispositivos"
							url="#{appBean.andonPath()}dispositivos.jsf" icon="fa fa-android" />
						<p:menuitem value="Maquinas"
							url="#{appBean.andonPath()}maquinas.jsf" icon="fa fa-steam" />
					</p:submenu>

					<p:menuitem value="Salir" actionListener="#{loginBean.logout()}"
						oncomplete="handleLoginRequest(xhr, status, args)"
						icon="ui-icon-close" />
				</p:menubar>
			</h:form>

		</div>

		<div id="content"
			class="center_content ui-widget-content ui-corner-all">
			<ui:insert name="content">

			</ui:insert>
		</div>

		<div id="bottom" class="ui-widget-header ui-corner-all"
			style="height: 15px;">
			<ui:insert name="bottom">&copy; Universidad Técnica de Ambato</ui:insert>
		</div>
	</div>
	<script type="text/javascript">
    function handleLoginRequest(xhr, status, args) {
        if(args.loggetOut) {
            location.href= args.ruta;
        }
    }

    function aMayusculas(obj, id) {
    	obj = obj.toUpperCase();
    	document.getElementById(id).value = obj;
    }
</script>
	<script>
		function monitor(data){
			var loading = document.getElementById("image");
			if(data.status == "begin"){
				loading.style.display = "block";
			}
			else if(data.status == "success"){
				loading.style.display = "none";
			}
		}
	</script>
</h:body>
</html>
